//RESPONSIVENESS

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// WIDTH
$max-width-tablet: 77rem;
$max-width-desktop: 102rem;

// COLORS
$primary-bg: #339999;
$secondary-bg: #99cccc;
$bg-light: #ffffff;

$primary-highlight: #993333;
$secondary-highlight: #b77070;

$primary-text: #1b1b1b;
$secondary-text: #545554;
$light-text: #f5f5f5;
