@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.profile-modal {
  background: $bg-light;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 1000;
  @include flex(space-between, flex-start, column);

  &__navigate {
    padding: 1.6rem;
    &:hover {
      cursor: pointer;
    }
  }

  &__arrow {
    height: 2rem;
    width: 2rem;
  }

  &__img {
    width: 100%;
    padding: 0 1.6rem;
  }

  &__avatar {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &__info {
    padding: 1.6rem;
  }

  &__top-wrap {
    @include flex(space-between, baseline, row);
  }
  &__top {
    @include flex(space-between, flex-start, column);
  }

  &__loc {
    @include flex(space-between, flex-end, column);
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
  }

  &__age {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
  }

  &__location {
    color: $primary-bg;
    margin: 0;
    font-size: 1.8rem;
  }

  &__date {
    color: $primary-bg;
    margin: 0;
    margin-top: 0.4rem;
  }

  &__bio {
    margin: 2rem 0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1.6rem;
    font-size: 1.2rem;
  }

  &__interests {
    @include flex(space-evenly, baseline, row);
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    padding-bottom: 4rem;
    margin: 0;
  }

  &__interest {
    border-radius: 20px;
    background-color: $secondary-bg;
    color: $light-text;
    padding: 0.8rem;
    font-size: 1.2rem;
    margin: 0.4rem;
  }

  &__events {
    @include flex(space-evenly, center, column);
  }
  &__headline {
    font-weight: 500;
    padding: 0.4rem 1.6em;
    background-color: $primary-bg;
    color: $light-text;
    text-align: center;
    width: 100%;

    margin-bottom: 1rem;
    // border-radius: 10px;
  }

  &__event-list {
    padding: 0 1.6rem;
    margin: 0;
    background-color: $bg-light;
  }

  &__delete {
    width: 2rem;
    height: 2rem;
  }

  &__action {
    @include flex(center, center, row);
    border-radius: 50%;
    color: $light-text;
    background-color: $primary-bg;
    height: 4.5rem;
    width: 4.5rem;
    position: absolute;
    right: 2.6rem;

    text-align: center;
    margin: 0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    &--message {
      top: 23.5rem;
    }
    &--delete {
      top: 29rem;
    }
    &:hover {
      cursor: pointer;
      background-color: $secondary-bg;
    }
  }

  &__message {
    @extend .profile-modal__delete;
    top: 24.5rem;
    height: 5rem;
    width: 5rem;
  }
}
