@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.loader {
  margin: 20% auto;
  border: 16px solid lightseagreen;
  border-top: 16px solid lightslategray;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.explore {
  @include flex(center, center, column);
  padding: 1.6rem;
  overflow-x: hidden;
  position: relative;
  overflow: visible;
  // overflow-y: hidden;

  &__empty{
    position: absolute;
    top: 100%;
  }

}

.filters {
  @include flex(center, center, column);
  width: 100%;

  &__location {
    @include input;
    font-family: "Poppins";
    font-size: 1.3rem;
    margin: 0 0 1rem;
    padding: 0.8rem 1.6rem;
    -webkit-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-radius: 5px;
    color: $secondary-text;
    appearance: none;

    &:focus {
      outline: none;
    }

    option {
      background: $bg-light;
      color: $secondary-text;
    }

    option:hover {
      background: rgba($secondary-bg, 0.5);
      color: $light-text;
    }
  }

  &__dates {
    @include flex(space-between, center, row);
    width: 100%;
  }
  &__container {
    @include flex(flex-start, flex-start, column);
    width: 45%;
  }

  &__label {
    font-size: 1.1rem;
  }

  &__date {
    @include input;
    font-family: "Poppins";
    // width: 50%;
    font-size: 1.1rem;
    margin: 0 0 1.5rem;
    border-radius: 5px;
    color: $secondary-text;

    &:focus {
      outline: none;
    }
  }
}
